body,html {
    background: url('../img/bg1.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100%
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;  /* Flexbox to align left and right sections */
    justify-content: space-between;
    padding: 20px;
    gap: 40px;
}

.logo-image{
    width: 400px;
    overflow: hidden;
    border-radius: 50%;
    animation: golden-shine 2s infinite;
}

@keyframes golden-shine {
  0% {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.3), 0 0 20px rgba(255, 215, 0, 0.5), 0 0 30px rgba(255, 215, 0, 0.7);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 215, 0, 0.8), 0 0 60px rgba(255, 215, 0, 0.6), 0 0 90px rgba(255, 215, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.3), 0 0 20px rgba(255, 215, 0, 0.5), 0 0 30px rgba(255, 215, 0, 0.7);
  }

}

.container-left {
    flex: 9;
    display: flex;
    justify-content: flex-end;
    padding-left: 100px;
}
.main{
    display: flex;
    flex-direction: column;
    width : 90%;
}

.container-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    width: 100%;
    height: 100vh;
    text-align: center;

}

.game-logo img {
    width: 200px;
    margin: 20px auto;
}

.timer {
    font-size: 2rem;
    background: purple;
    border: 2px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
}


.question-box {
    background: #060d53;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    color: #fff;
    box-shadow: 0 0 10px #333;
    border-radius: 30px;
    width: 100%;
    font-size: x-large;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    font-size: x-large;
}

.option {
    background: #060d53;
    border: 2px solid rgb(188, 180, 180);
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
    color: #fff;
}

.option:hover {
    background: #555;
}

.lifelines {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.lifeline-fifty-fifty, .lifeline-phone-a-friend, .lifeline-audience-poll {
    display: flex;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: background 0.3s;
    color: #fff;
}

.lifeline-icon {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: auto;
    object-fit: contain;
}


.lifeline:hover {
    background: #444;
}

.money-ladder {
    background-color: #060d53;
}

.money-ladder ul {
    padding-top: 200px;
    list-style: none;
    color: #ffcc00;
    font-weight: bold;
}

.money-ladder li {
    padding: 10px 0;
}

.next-question{
    background: #060d53;
    border: 2px solid rgb(188, 180, 180);
    border-radius: 30px;
    padding: 25px;
    cursor: pointer;
    transition: background 0.3s;
    color: #fff;
    margin-top: 30px;
    width : 30%;
    font-size: 1.5rem;
}

.timer-lifelines{
    margin-top: 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
